.main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url("../../public/images/background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content {
    display: flex;
    height: inherit;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
    padding-block: 50px 150px;
    overflow: auto;
}
