.main {
    width: 70%;
    height: 80%;
    display: inline-flex;
    margin-top: 20px;
    gap: 20px;
}

.content {
    z-index: 1 !important;
    background-color: rgb(223, 255, 230);
    width: 60%;
    margin: auto;
    min-width: 200px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 45px;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 12px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title {
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 50px;
}

.subtitle {
    margin: auto;
    width: 60%;
    padding: 15px;
    text-align: center;
    font-size: 22px;
    line-height: 1.6em;
    color: rgb(19, 153, 70);
}

.particles {
    z-index: 0;
}

.imageContainer {
    z-index: 1 !important;
    position: relative;
    margin: auto;
    width: 30%;
    justify-content: center;
    display: flex;
    align-items: center;
    align-content: center;
}

.image {
    position: absolute;
    width: 100%;
    height: auto;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 12px;
    background: transparent;
    transform: rotate(15deg);
    top: -150px;
    right: 50px;
}

@media (width < 1000px) {
    .main {
        width: 80%;
    }
    .content {
        width: 80%;
    }
    .title {
        font-size: 30px;
    }
    .subtitle {
        font-size: 15px;
        width: 80%;
    }
}

@media (width < 500px) {
    .main {
        width: 95%;
        display: block;
        gap: 0;
    }
    .content {
        width: 90%;
    }
    .title {
        font-size: 20px;
    }
    .subtitle {
        font-size: 11px;
        width: 90%;
    }
    .image {
        display: none;
    }
}
